/* 회원가입 */
/* .join-page {} */

.join-area {
	padding: 40px;
}

.join-area form>div+div {
	margin-top: 14px;
}

.join-area form>div:hover label+input {
	border-bottom-color: #333;
}

.join-area form>div input {
	width: 100%;
}

.join-area form>div input:focus+.btn.join {
	margin-top: 29px;
}
/* 회원가입 버튼 */
.join-area form .btn-group {
	margin-top: 50px;
	padding-bottom: 10px;
}

/* 프로필 이미지 */
.join-area .profile-img {
	border-bottom: 1px solid #666;
	padding-bottom: 4px;
}

.join-area .profile-img img {
	display: inline-block;
	vertical-align: middle;
	width: 64px;
	height: 64px;
}

.join-area .profile-img input {
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 70px);
}