/* 로그인 */
/* .login-page {} */

.login-area {
	padding: 40px;
}

.login-area form>div+div {
	margin-top: 14px;
}

.login-area form>div:hover label+input {
	border-bottom-color: #333;
}

.login-area .btn {
	display: block;
	box-sizing: border-box;
	padding: 0;
	font-size: 16px;
	font-weight: bold;
	border: none;
	-webkit-appearance: none;
	appearance: none;
	cursor: pointer;
}

.login-area .btn.login {
	width: 100%;
	margin-top: 30px;
}

.login-area .btn.join {
	margin: 10px auto 0;
	color: #666;
	font-size: 14px;
	background-color: transparent;
}

.login-area .btn.join:hover {
	text-decoration: underline;
}

.login-area form .btn-group {
	margin-top: 50px;
	padding-bottom: 10px;
}