<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	$("#list tr").on("click", function() {
		var tdArr = new Array();
		var tr = $(this)
		var td = tr.children();
		
		if(td.eq(0).text()!="번호"){
			var title = td.eq(2).text();
			var idx = td.eq(1).text();
	
			$('input[id=titleMark]').val(title);
			$('input[id=idxMark]').val(idx);
			$("#detail").attr("action", "detail");
			$("#detail").submit();
		}
	});
});	
</script>
</head>
<body>
	<h1>Board</h1>
	<div>
		<div th:if="${session.memberID}">
			<img th:src="${#strings.isEmpty(session.profile)} ? '/profileImg/null.jpg' : ${session.profile}" />
		</div>
		<p>
			<span th:text="${session.memberID} ? ${session.memberID}:'Geust'">memberId</span>님 환영합니다.
		</p>
		<a href="/">메인</a>
		<a th:text="${session.memberID} ? '로그아웃' :'로그인'" th:href="${session.memberID} ? '/logout' : '/login'"></a>
	</div>
	
	<form method="post" id="detail">
		<input type="hidden" id="titleMark" name="title">
		<input type="hidden" id="idxMark" name="idx">
	</form>
	<table id="list" border="1">
		<thead>
			<tr>
				<th>번호</th>
				<th>제목</th>
				<th>등록/수정일</th>
				<th>작성자</th>				
			</tr>
		</thead>
		<tr th:each="board, index : ${boardList}">
			<td id="count" th:text="${index.count}" th:value="${index.count}"></td>
			<td style="display: none" id="idx" th:text="${board.idx}" th:value="${board.idx}"></td>
			<td id="title" th:text="${board.title}" th:value="${board.title}"></td>
			<td th:text="${board.modifiyDate}"></td>
			<td th:text="${board.memberid}"></td>
		</tr>
	</table>
	<div th:if="${session.memberID}">
		<input type="button" onclick="location.href='/createContentsForm'" value="글쓰기">
	</div>
</body>
</html>