<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form action="/createContents" method="post">
	<div id="contentsBox">
		<div id="titleDiv">
			<input type="text" id="title" name="title"  value="제목">
		</div>
		<div id="contentDiv">
			<textarea id="contents" name="contents"></textarea> 
		</div>
	</div>
	<input type="submit" value="등록">
	<input type="reset" value="초기화">
	<input type="button" onclick="location.href='/board'" value="취소">
	</form>
</body>
</html>