<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
function readImage(input) {
    if(input.files && input.files[0]) {
        // FileReader 인스턴스 생성
        const reader = new FileReader()
        // 이미지가 로드가 된 경우
        reader.onload = e => {
            const previewImage = document.getElementById("viewimg")
            previewImage.src = e.target.result
        }
        // reader가 이미지 읽도록 하기
        reader.readAsDataURL(input.files[0])
    }
}
// input file에 change 이벤트 부여
const inputImage = document.getElementsByClassName("profileimg")
inputImage.addEventListener("change", e => {
    readImage(e.target)
})
</script>
</head>
<body>
	<form action="/join" method="post" enctype="multipart/form-data">
		<div>
			<img src="https://via.placeholder.com/64x64.png"
				id="viewimg" alt="섬네일 이미지" width="64" height="64">
			<input type="file" name="profileimg" id="profileimg" onchange="readImage(this)">
		</div>
		<div>
			<label>ID</label><input type="text" id="id" name="id">
		</div>
		<div>
			<label>PW</label><input type="password" id="pw" name="pw">
		</div>
		<div>
			<label>Name</label><input type="text" id="name" name="name">
		</div>
		<div>
			<label>Phone</label><input type="text" id="phone" name="phone">
		</div>
		<input type="submit" value="회원가입"><input type="reset"
			value="초기화"><input type="button"
			onclick="location.href='/Login'" value="취소">
	</form>
</body>
</html>