<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>회원가입</title>

	<link rel="stylesheet" type="text/css" href="/css/common.css">
	<link rel="stylesheet" type="text/css" href="/css/join.css">
</head>
<body>
	<div class="join-page page-background">
		<div class="join-area area-common type-floating">
			<header>
				회원가입
			</header>
			<form action="/join" method="post" enctype="multipart/form-data">
				<div class="profile-img">
					<label for="profileimg">Profile Image</label>
					<img src="https://via.placeholder.com/64x64.png" id="viewimg" alt="프로필 이미지 미리보기" />
					<input type="file" name="profileimg" id="profileimg" onchange="readImage(this)">
				</div>
				<div>
					<label for="id">ID</label>
					<input type="text" id="id" name="id" placeholder="아이디">
				</div>
				<div>
					<label for="pw">Password</label>
					<input type="password" id="pw" name="pw" placeholder="비밀번호">
				</div>
				<div>
					<label for="name">Name</label>
					<input type="text" id="name" name="name" placeholder="이름">
				</div>
				<div>
					<label for="phone">Phone</label>
					<input type="text" id="phone" name="phone" placeholder="전화번호">
				</div>
				<div class="btn-group">
					<button class="btn primary" type="submit">회원가입</button>
					<!-- <button class="btn" type="reset">초기화</button> -->
					<button class="btn" type="button" onclick="location.href='/login'">취소</button>
				</div>
			</form>
		</div>
	</div>

	<script type="text/javascript">
		function readImage(input) {
			if(input.files && input.files[0]) {
				// FileReader 인스턴스 생성
				const reader = new FileReader()
				// 이미지가 로드가 된 경우
				reader.onload = e => {
					const previewImage = document.getElementById("viewimg")
					previewImage.src = e.target.result
				}
				// reader가 이미지 읽도록 하기
				reader.readAsDataURL(input.files[0])
			}
		}
		// input file에 change 이벤트 부여
		const inputImage = document.getElementsByClassName("profileimg")
		inputImage.addEventListener("change", e => {
			readImage(e.target)
		})
	</script>
</body>
</html>