<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>메인 페이지.</h1>
	<div>
		<div>
			<img th:if="${session.memberID}" th:src="${#strings.isEmpty(session.profile)} ? '/profileImg/null.jpg' : ${session.profile}" />
		</div>
		<p>
			<span th:text="${session.memberID} ? ${session.memberID}:'Geust'">memberId</span>님 환영합니다.
		</p>
		<a href="/main">메인</a>
		<a href="/board">게시판</a>
		<a th:text="${session.memberID} ? 'LogOut' :'Login'" th:href="${session.memberID} ? '/LogOut' : '/Login'"></a>
	</div>

</body>
</html>
