<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.basic.dao.BoardDAO">

	<!-- 글쓰기 -->
	<insert id="createContents" parameterType="com.basic.vo.BoardVO">
		insert into
		board(title, memberid, contents, writeDate,modifiyDate, state)
		values(#{title},#{memberid},#{contents},#{writeDate},#{modifiyDate},0)
	</insert>

	<!-- 글 수정 -->
 	<update id="updateContents" parameterType="com.basic.vo.BoardVO">
		UPDATE board SET
		title=#{title}, contents=#{contents}, modifiyDate=#{modifiyDate}
		WHERE memberid=#{memberid} and idx=#{idx}
	</update>
 
	<!-- 글 삭제 -->
	<delete id="deleteContents" parameterType="com.basic.vo.BoardVO">
		DELETE FROM board WHERE
		memberid=2 and idx=#{idx}
	</delete>

	<!-- 글 삭제 상태로 만들어 놓기 -->
	<!-- <update id="deleteContentsState" parameterType="com.basic.vo.BoardVO">
		UPDATE board SET
		state=1
		WHERE memberid=#{memberid} and idx=#{idx}
	</update> -->

	<!-- 게시글 가져오기 -->
	<select id="selectAll" resultType="com.basic.vo.BoardVO">
		SELECT * FROM board
		where state=0
		order by modifiyDate
	</select>

	<select id="selectTitle" parameterType="String" resultType="com.basic.vo.BoardVO">
		SELECT * FROM board
		where
		title=#{title}
	</select>

</mapper>